.img-fluid {
    max-width: 100%; /* Устанавливает максимальную ширину изображения в пределах контейнера */
    height: auto; /* Автоматически изменяет высоту изображения пропорционально ширине */
    max-height: 300px; /* Максимальная высота изображения */
    min-width: 150px; /* Минимальная ширина изображения */
    min-height: 150px; /* Минимальная высота изображения */
    object-fit: cover; /* Обрезает изображение и сохраняет пропорции */
    object-position: center; /* Центрирует изображение внутри контейнера */
}
